html {
    background-color: gainsboro;
}

body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

header {
    background-color: rgb(62, 68, 80);
    padding: 20px;
    font-size: 3em;
    width: 940px;
    margin: 10px;
}

#logo {
    width: 250px;
}

#title {
    color: white;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    bottom: 100px;
}   

nav{
    width: 940px;
    margin: 10px;
}

nav a {
    background-color: rgba(127, 207, 214, 0.5);
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
}

nav a:hover {
   background-color: rgb(127, 207, 214); 
}

main {
    width: 940px;
    margin: 10px;
    margin-top: 40px;
}

h4 {
    color: rgb(92, 156, 160);
}

figure img {
    width: 350px;
    height: 250px;
    border-color: white;
    border-style: solid;
    border-width: 1em;
    padding-top: 0px;
}

footer {
    width: 940px;
    margin: 10px;
}