html {
    background-color: #bad2c9;
}

body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    width: 960px;
    margin: auto;
    color: #053c5e;
}

header {
    background-color: #1b4438;
    padding: 20px;
    font-size: 3em;
    width: 940px;
    margin: 10px;
}

#logo {
    width: 250px;
}

#title {
    color: white;
    font-family: "Play", sans-serif;
    text-align: center;
    position: relative;
    
}   

nav{
    width: 940px;
    margin: 10px;
}

nav a {
    background-color: #81ae9d;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
}

nav a:hover {
   background-color: #a3c4b7; 
}

main {
    width: 940px;
    margin: 10px;
    margin-top: 40px;
}

h4 {
    color: white;
}

figure img {
    width: 350px;
    height: 250px;
    border-color: white;
    border-style: solid;
    border-width: 1em;
    padding-top: 0px;
}

footer {
    width: 940px;
    margin: 10px;
    background-color: #81ae9d; 
    padding-left: 5px;

}

.pictures img{
    width: 350px;
    height: 250px;
    border-color: white;
    border-style: solid;
    border-width: 1em;
    padding-top: 0px;
}
