* {
    box-sizing: border-box;
}

html {
    background-color: #bad2c9;
}

body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    width: 960px;
    margin: auto;
    color: #053c5e;
}

header {
    background-color: #1b4438;
    padding: 25px;
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 10px;
}

#logo {
    width: 250px;
    border-color: white;
    border-style: solid;
    border-width: 10px;
}

#title {
    color: white;
    font-family: "Play", sans-serif;
    text-align: center;
    position: relative;
    
}   

nav{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
    padding: 0px;
}

nav a {
    background-color: #81ae9d;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

nav a:hover {
    background-color: #a3c4b7;
    color: #053c5e;
}

td {
    text-align: center;
}

.pictures img{
    width: 350px;
    height: 250px;
    border-color: white;
    border-style: solid;
    border-width: 1em;
    margin: 10px; 
    margin-bottom: 0px;
}

hr {
    margin: 0px;
    color: white;
}

footer {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #81ae9d;
    padding: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.buttons {
    margin: auto;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
